# MongoDB Configuration
# Use this for local MongoDB
MONGO_CONNECTION_STRING=mongodb://ashunew28:8EUcuNJMKkSAbmMA@localhost:27017/?retryWrites=true&w=majority&appName=PollsApp

# Use this for MongoDB Atlas (cloud)
# MONGO_CONNECTION_STRING=mongodb+srv://ashunew28:8EUcuNJMKkSAbmMA@pollsapp.g4nxop8.mongodb.net/?retryWrites=true&w=majority&appName=PollsApp

# Database Name (optional - this is the default)
DB_NAME=PollsApp

# Collection Names (optional - these are the defaults)
QUESTIONS_COLLECTION=questions
QUIZ_HISTORY_COLLECTION=quiz_history 